#landing{
  background: url("../img/backgrounds/landing.jpg");
  background-repeat: no-repeat;
}
.header{
  margin-left: 43%;
  margin-top: 20%;
  font-family: 'Arapey', sans-serif;
  font-size: 30px;
  color: white;
}
.logo{
  width: 30%;
}
#food{
  height: 200px;
  text-align: center;
  background-color: #f15a29;
  color: white;
  font-family: 'Arapey', sans-serif;
  font-size: 20px;
}
.happy{
  margin-top: 14%;
}
.party{
  margin-top: 14%;
}
.breakfast{
  background: url("../img/foodtop/breakfast.jpg");
  background-repeat: no-repeat;
  color: white;
  padding-top: 95px;
}
.lunch{
  background: url("../img/foodtop/lunch.jpg");
  background-repeat: no-repeat;
  color: white;
  padding-top: 95px;
}
.dinner{
  background: url("../img/foodtop/dinner.jpg");
  background-repeat: no-repeat;
  color: white;
  padding-top: 95px;
}
.myImages{
  width: 60%;
  float: right;
}
/*.fastFood{
  box-shadow: 0px 0px 5px 5px #888;
  margin-top: 30px;
  float: right;
  padding: 20px;
}*/
.fastFood{
  margin-top: 30px;
  box-shadow: 0px 0px 5px 5px #888;
  float: right;
}
.fastFood-text{
  margin-top: 70px;
  margin-right: 80px;
  margin-left: 30px;
  font-family: 'Montserrat', sans-serif;
}
.gallery{
  background-color: white;
  color: #f15a29;
  border-color: #f15a29;
  border-width: 1px;
  padding: 10px;
  padding-right: 30px;
}
.drinks{
  box-shadow: 0px 0px 5px 5px #888;
  margin-top: 30px;
  float: left;
  padding: 20px;
}
.drinkImages{
  width: 100%;
}
.drink-text{
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 90px;
  margin-right: 20px;
}
.snacks{
  background: url("../img/backgrounds/foodsBg.jpg");
}
