#landing{
  background: url("../img/backgrounds/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header{
  margin-left: 43%;
  margin-top: 20%;
  font-family: 'Arapey', sans-serif;
  font-size: 30px;
  color: white;
}
.logo{
  width: 30%;
}
#food{
  height: 200px;
  text-align: center;
  background-color: #f15a29;
  color: white;
  font-family: 'Arapey', sans-serif;
  font-size: 20px;
}
.happy{
  margin-top: 14%;
}
.party{
  margin-top: 14%;
}
.breakfast{
  background: url("../img/foodtop/breakfast.jpg");
  background-repeat: no-repeat;
  color: white;
  padding-top: 95px;
}
.lunch{
  background: url("../img/foodtop/lunch.jpg");
  background-repeat: no-repeat;
  color: white;
  padding-top: 95px;
}
.dinner{
  background: url("../img/foodtop/dinner.jpg");
  background-repeat: no-repeat;
  color: white;
  padding-top: 95px;
}
.myImages{
  width: 100%;
}
.fastFood{
  margin-top: 30px;
  box-shadow: 0px 0px 5px 5px #888;
  float: right;
  margin-left: 30%;
  padding: 10px;
}
.fastFood-text{
  margin-top: 70px;
  margin-right: 80px;
  margin-left: 30px;
  font-family: 'Montserrat', sans-serif;
}
.gallery{
  background-color: white;
  color: #f15a29;
  border-color: #f15a29;
  border-width: 1px;
  padding: 10px;
  padding-right: 30px;
}
.drinks{
  box-shadow: 0px 0px 5px 5px #888;
  margin-top: 40px;
  padding: 20px;
}
.drinkImage1{
  width: 100%;
}
.drinkImage2{
  width: 100%;
  margin right: 0%;
}
.drink-text{
  margin-top: 10%;
  font-family: 'Dosis', sans-serif;
  margin-left: 30%;
  margin-right: 10%;
}
.snacks{
  background: url("../img/backgrounds/foodsBg.jpg");
  background-size: cover;
}
ul {
  font-size: 280%;
}
.nav{
  background-color: #D8D8D8;
  padding-left: 20%;
  color: black;
}
.tab-content{
  background-color: white;
  color: #f15a29;
  font-size: 300%;
  padding-top: 3%;
  overflow: auto;
}
.snackTab{
  margin: 3%;
  padding: 5%;
}
/* unvisited link */
a:link {
    color: #A0A0A0;
}

/* visited link */
a:visited {
    color: #A0A0A0;
}

/* mouse over link */
a:hover {
    color: #f15a29;
}
/* selected link */
a:active {
    color: #f15a29;
}
.juice{
height: 80%;
padding-top: 0%;
margin-left: 40%;
}
#drinks{
  height: 30%;
}
.chicken, .rice{
  margin-left: 30%;
}
.feedback{
  margin-top: 5%;
  font-family: cursive;
  font-size: 150%;
  box-shadow: 0px 0px 5px 5px #888;
  margin-left: 10%;
  margin-right: 5%;
  margin-bottom: 5%;
  padding: 3%;
}
.feedback h3{
  color: #f15a29;
  font-weight: bold;
  text-align: center;
  font-size: 200%;
}
.feedback p,h4{
  color: black;
}
.subscribe{
  background: url(../img/backgrounds/subscribe.jpg);
  background-size: cover;
}
.sub-style{
  padding-top: 3%;
  padding-left: 28%;
  padding-bottom: 5%;
  color: white;
  font-size: 300%;
  font-weight: bold;
  font-family: cursive;
}

#email{
  background-color: #ffffff;
  opacity: .4;
  width: 40%;
}
.btn{
  background-color: #f15a29;
  font-size: 120%;
  margin-left: 10%;
}
.end{
  background-color: #f15a29;
  color: white;
  font-size: 250%;
  padding-top: 3%;
  padding-left: 40%;
  padding-bottom: 5%;
  font-family: cursive;
}
.footerImg{
  height: 5%;
  width: 4%;
}
.footerP{
  color: black;
}
