#landing{
  background: url("../img/backgrounds/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header{
  margin-left: 43%;
  margin-top: 20%;
  font-family: 'Arapey', sans-serif;
  font-size: 30px;
  color: white;
}
.logo{
  width: 30%;
}
#food{
  height: 200px;
  text-align: center;
  background-color: #f15a29;
  color: white;
  font-family: 'Arapey', sans-serif;
  font-size: 20px;
}
.happy{
  margin-top: 14%;
}
.party{
  margin-top: 14%;
}
.breakfast{
  background: url("../img/foodtop/breakfast.jpg");
  background-repeat: no-repeat;
  color: white;
  padding-top: 95px;
}
.lunch{
  background: url("../img/foodtop/lunch.jpg");
  background-repeat: no-repeat;
  color: white;
  padding-top: 95px;
}
.dinner{
  background: url("../img/foodtop/dinner.jpg");
  background-repeat: no-repeat;
  color: white;
  padding-top: 95px;
}
.myImages{
  width: 100%;
}
.fastFood{
  margin-top: 30px;
  box-shadow: 0px 0px 5px 5px #888;
  float: right;
  margin-left: 30%;
  padding: 10px;
}
.fastFood-text{
  margin-top: 70px;
  margin-right: 80px;
  margin-left: 30px;
  font-family: 'Montserrat', sans-serif;
}
.gallery{
  background-color: white;
  color: #f15a29;
  border-color: #f15a29;
  border-width: 1px;
  padding: 10px;
  padding-right: 30px;
}
.drinks{
  box-shadow: 0px 0px 5px 5px #888;
  margin-top: 40px;
  padding: 20px;
}
.drinkImage1{
  width: 100%;
}
.drinkImage2{
  width: 100%;
  margin right: 0%;
}
.drink-text{
  margin-top: 10%;
  font-family: 'Montserrat', sans-serif;
  margin-left: 30%;
  margin-right: 10%;
}
.snacks{
  background: url("../img/backgrounds/foodsBg.jpg");
  background-size: cover;
  height: 80%;
}
ul {
  font-size: 300%;
}
.nav{
  background-color: white;
}
.tab-content{
  background-color: white;
  color: orange;
}
.snackTab{
  padding: 5%;
  margin-left: 5%;
  margin-left: 5%;
}
